<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="cms">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DATABASE_DSN" value="pgsql:host=localhost;port=5432;dbname=cms_test"/>
    </php>
</phpunit>
